.container {
    display: grid;
    grid-template-columns: 3;
}

#name {
    grid-column: 1;
}

#ip-address {
    grid-column: 2;
}

#format {
    grid-column: 3;
}

#mapping {
    grid-column: span 3;
}