@import "../measurements.component.scss";

.container {
    position: relative;
}

.expand {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    background-color: $second-grey;
    padding: 0.3rem;
    border-radius: 50%;
    border: 1px solid $first-grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand-icon {
    width: 100%;
}

#name,
#script {
    grid-column: 1 / span 2;
}