<h2 class="title" align="center">Details</h2>
<div class="container">
  <div class="container-element">
    <h3>Date of measurement</h3>
    <p>12 April 2022</p>
  </div>
  <div class="container-element">
    <h3>Launched by</h3>
    <p>Sebastian Górka</p>
  </div>
  <div class="container-element">
    <h3>Number of errors</h3>
    <div class="errors">
      <p>3</p>
      <a class="error-log" [routerLink]="['/', 'measurements', 1, 'errors']">See error log</a>
    </div>
  </div>
  <div class="description">
    <h3>Description</h3>
    <p>Pomiar wytrzymałości urządzenia na niekorzystne czynniki zewnętrzne w postaci wysokiej temperatury powietrza.</p>
  </div>
</div>