name: Angular CI

env:
  NODE_VERSION: '16.17.1'

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    name: Build Angular
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{env.NODE_VERSION}}
      - name: Install dependencies
        run: cd angular && npm install
      - name: Build app
        run: npm run build