name: .NET CI

env:
  DOTNET_VERSION: '6.0.401'

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  build:
    name: Build .NET
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{env.DOTNET_VERSION}}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build app
        run: dotnet build -c Release --no-restore
      - name: Run automated tests
        run: dotnet test -c Release --no-build