name: Flyway CI

# env:
#   POSTGRES_DB: device-hub
#   POSTGRES_USER: application
#   POSTGRES_PASSWORD: password
#   DATABASE_PATH: database
#   THIS_PATH: .github

on:
  push:
    branches:
      - main
    # paths:
    #   - ${{env.DATABASE_PATH}}
    #   - ${{env.THIS_PATH}}
  pull_request:
    # paths:
    #   - ${{env.DATABASE_PATH}}
    #   - ${{env.THIS_PATH}}

jobs:
  build:
    name: Migrate Database
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Update packages
        run: sudo apt update
      - name: Install docker
        run: sudo apt install docker
      - name: Create docker image
        run: docker build database -t flyway -f docker/flyway/Dockerfile
      - name: Run flyway
        run: ./flyway